apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: infra
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - git:
        repoURL: https://github.com/asenmx/homelab.git
        revision: test
        directories:
          - path: kubernetes/charts/infra/*
  # Optional rolling sync strategy
  # strategy:
  #   type: RollingSync
  #   deletionOrder: Reverse
  #   rollingSync:
  #     steps:
  #       - matchExpressions:
  #           - key: envLabel
  #             operator: In
  #             values:
  #               - env-dev
  #       - matchExpressions:
  #           - key: envLabel
  #             operator: In
  #             values:
  #               - env-qa
  #         maxUpdate: 0
  #       - matchExpressions:
  #           - key: envLabel
  #             operator: In
  #             values:
  #               - env-infra
  #         maxUpdate: 10%
  template:
    metadata:
      name: '{{index .path.segments 2}}-{{index .path.segments 3}}'
      labels:
        chart: '{{index .path.segments 3}}'
    spec:
      project: infra
      source:
        repoURL: https://github.com/asenmx/homelab.git
        targetRevision: test
        path: '{{.path.path}}'
        helm:
          valueFiles:
            - '../../../values/infra/{{index .path.segments 3}}/values.yaml'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{index .path.segments 3}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true

