apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: infra
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - git:
        repoURL: https://github.com/asenmx/homelab.git
        revision: test
        directories:
          - path: kubernetes/charts/infra/*
          - path: kubernetes/manifets/*
  template:
    metadata:
      name: '{{index .path.segments 1}}-{{index .path.segments 1}}'
      labels:
        chart: '{{index .path.segments 2}}'
    spec:
      project: infra
      source:
        repoURL: https://github.com/asenmx/homelab.git
        targetRevision: test
        path: '{{.path.path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{index .path.segments 2}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true

