apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: infra 
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - git:
        repoURL: https://github.com/asenmx/homelab.git 
        revision: test
        directories:
          - path: kubernetes/charts/*
  template:
    metadata:
      name: '{{.path.basename}}'
    spec:
      project: infra
      source:
        repoURL: '{{.git.repoURL}}'
        targetRevision: '{{.git.revision}}'
        chart: '{{.path.basename}}'
        helm:
          valueFiles:
            - 'kubernetes/values/{{.path.basename}}.yaml'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{.path.basename}}'
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
