apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: infra 
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  description: Infrastructure project
  destinations:
  - name: '*'
    namespace: '*'
    server: https://kubernetes.default.svc
  namespaceResourceWhitelist:
  - group: '*'
    kind: '*'
  sourceRepos:
  - https://github.com/asenmx/homelab
  - https://charts.longhorn.io/
  - https://prometheus-community.github.io/helm-charts
